{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'global.css' %}">
<body>
  {% include 'mymenu.html' with me="SEVER" sponsor="W3SCHOOLS" %}
  
  <table border='1' >
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
      </tr>
    {% endfor %}
  </table>
{% comment %}
{% with firstname="Sever" %}
<h1>Hello {{ firstname }}, how are you? Here is the test list</h1>

<ol type="1">
  {% for x in mymembers %}
    <li>Firstname: {{ x.firstname }} Lastname {{ x.lastname }} Phone {{ x.phone }}</li>
  {% endfor %}
</ol>

<ul>
  {% for x in fruits %}
    <li
      {% if forloop.first %}
        style='background-color:rgb(7, 97, 128);color:aquamarine;'
      {% endif %}
    >{{ x }}</li>
  {% endfor %}
</ul>

{% endwith %}
{% endcomment %}
{% include 'footer.html' %} 
</body>
</html>
