<!DOCTYPE html>
<html>
<body>

  <h1>This is a variable with a value of {{firstname}} fetched from Views.py</h1>
{% for x in fruits %}
  <h1>{{ x }}</h1>

{% endfor %}

<p>In views.py you can see what the fruits variable looks like.</p>

{% with firstname="Tobias" %}
<h1>Hello {{ firstname }}, how are you? Here is the test list</h1>


<ol type="1">
  {% for x in mymembers %}
    <li>Firstname: {{ x.firstname }} Lastname {{ x.lastname }} Phone {{ x.phone }}</li>
  {% endfor %}
</ol>

<ul>
  {% for x in fruits %}
    <li
      {% if forloop.first %}
        style='background-color:rgb(7, 97, 128);color:aquamarine;'
      {% endif %}
    >{{ x }}</li>
  {% endfor %}
</ul>
{% endwith %}
{% include 'footer.html' %} 
</body>
</html>